<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128635010776-p7kn6mpcj3g4t3l758nnt124n050kv4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128635010776-p7kn6mpcj3g4t3l758nnt124n050kv4d</string>
	<key>API_KEY</key>
	<string>AIzaSyCdJHvdVaEV3vOWvAtnRIChub4kSG8czn0</string>
	<key>GCM_SENDER_ID</key>
	<string>128635010776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>said.NASA-Project</string>
	<key>PROJECT_ID</key>
	<string>nasa-project-98549</string>
	<key>STORAGE_BUCKET</key>
	<string>nasa-project-98549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128635010776:ios:fc4e35765dc9d1f299a1ad</string>
</dict>
</plist>